
.small-nav{
  display:block;
}
.big-nav{
  display:none;
}
.App {
  text-align: left;
}
a{
  text-decoration:none;
  color:#000000;
}

h1{
  font-size:1.5rem;
  font-family:comic sans ms;
}
h2,h3{
  font-family:comic sans ms;
  width: 100%;
    
    margin-left:3rem;
    
}
h2{
  font-size:1rem;
}
ul{
  padding:0;
}
nav{
  font-family:comic sans ms;
  font-weight: bold;
  font-size:2rem;
}

ol{
  max-width:150px;
}
section{
  width: 85vw;
  margin: 0 auto;
}
iframe{
  margin:2rem 0;
}
.icon{
  width:50px;
  height:55px;
  font-size:2rem;
  cursor: default;
}
.icon h1{
  display:none;
}
.icon:hover{
  transform:scale(1.1);
  transition:al .3s ease-in-out;
}
.btn{
  width:8rem;
  height:4rem;
  background-color: #ffd03c;
  font-weight: bold;
  border-radius:20vmax;
  padding:.5rem 1rem;
  margin:3rem 0;
  border:none;
  font-size:1.1rem;
}
.btn:hover{
  transition:scale(1.5);
  background-color:#ffc409;
  transform: all .2s ease-in-out;
}
.display{
  display:block;
}
.hide{
  display:none;
}
.reveal{
  clip-path: circle(100% at center);
  transition: clip-path 0.5s ease-in-out;
}
.conceal{
  clip-path: circle(0% at center);
  transition: clip-path 0.5s ease-in-out;
}
iframe{
  width: 95%;
    max-width: 560px;
    margin-left: 2.5%;
}
header{
  width:90vw;
  margin:0 auto;
  display:flex;
  justify-content:space-between;
  align-items:center;
}
.logo{
  width:40px;
  height:auto;
}
.logo h1{
  line-height:50px;
}
.logo-container{
  display:flex;
  align-items:center;
  justify-content:center;
}

/*--------------------------------Piano-----------------------*/
.ReactPiano__NoteLabel--natural{
  color:#000000;
}
.ReactPiano__NoteLabel--accidental{
  color:#ffc409;
}
.ReactPiano__Key--accidental{
  background-color: #000000;
}
.ReactPiano__Key--natural{
  background-color: #ffffff;
}
.banner{
  width:100vw;
  height: 15vh;
  margin:0 auto;
  display:flex;
  flex-direction: column;
  background-color: rgba(255,255,255, 0.8);
  padding:1rem 0;
  align-items: center;
  justify-content: center;
  position:fixed;
  bottom:0;
}
/*--------------------------------Navigation-----------------------*/
nav{
  width: 100VW;
  height: 100vh;
  margin: 0 auto;
  background-color: rgba(0,0,0,0.6);
  position: fixed;
  top: 0;
  z-index: 100;
}
/* Home */
.primary-nav-link{
  cursor: default;
}
.primary-nav-link .a{
 display:flex
}
.primary-nav-link:nth-child(1) .a:hover > .letter-one {
  transform: rotate(-45deg) translateX(-4px);
  transition: all 0.3s ease-in-out;
}
.primary-nav-link:nth-child(1) .a:hover > .letter-two {
  transform: rotate(-5deg) translateY(-10px);
  transition: all 0.3s ease-in-out;
}
.primary-nav-link:nth-child(1) .a:hover > .letter-three {
  transform: rotate(5deg) translateY(-10px);
  transition: all 0.3s ease-in-out;
}
.primary-nav-link:nth-child(1) .a:hover > .letter-four {
  transform: rotate(45deg) translateX(4px);
  transition: all 0.3s ease-in-out;
}
/* About */
.primary-nav-link:nth-child(2) .a:hover > .letter-one {
  transform: rotate(-45deg);
  transition: all 0.3s ease-in-out;
}
.primary-nav-link:nth-child(2) .a:hover > .letter-two {
  transform: rotate(-10deg) translateY(-8px);
  transition: all 0.3s ease-in-out;
}
.primary-nav-link:nth-child(2) .a:hover > .letter-three {
  transform: rotate(0deg) translateY(-10px);
  transition: all 0.3s ease-in-out;
}
.primary-nav-link:nth-child(2) .a:hover > .letter-four {
  transform: rotate(10deg) translateY(-8px);
  transition: all 0.3s ease-in-out;
}
.primary-nav-link:nth-child(2) .a:hover > .letter-five {
  transform: rotate(45deg);
  transition: all 0.3s ease-in-out;
}

.exit-btn-container{
  width:100%;
  margin-top:1rem;
  margin-right:1rem;
  display:flex;
  justify-content:flex-end;
}
nav ul li:hover{
  
  transform:scale(1.3);
  transition:all .2s ease-in-out;
}
nav ul{
  width: 90%;
    margin: 0 auto;
    background-color: #ffffff;
    display: flex;
    padding: 10vw 0;
    border-radius: 5vmax 5vmax 0 0;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 65vw;
    left: 5vw;
}
nav ul li{
  padding: 1.5rem 1rem;
  margin: 1rem 0;
  border-radius: 5vmax;
  max-height: 10px;
  line-height: 2rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 1px rgb(0 0 0 / 20%);
}
/* nav ul li:hover{
  background:yellow;
  transition:all .2s ease-in-out;

} */
/*--------------------------------Main-----------------------*/
.lesson-header{
  margin:2rem 0;
  display:flex;
  flex-wrap: wrap;
}
.terms{
  display: flex;
    justify-content: space-between;
    align-items: center;
    margin:2rem 0;
    font-style:oblique;
}
.tip img{
  width:40px;
  height:40px;
  float: right;
    position: relative;
    left: 1rem;
    bottom: 1rem;
}
.tip{
  border-radius: 20vmax;
    /* display: flex; */
    background-color: #000000;
    color: #ffffff;
    margin:3rem 0;
    padding: 1rem 1.5rem;
}
.paragraph-with-list{
  width: 85%;
    margin: 0 auto;
}
.activity img{
  width:48px;
  height:48px;
}
.activity{
  font-weight: bold;
  display:flex;
  justify-content:center;
  align-items:center;
}
.key{
  margin:0 auto;
}
.key li{
  list-style:none;
  margin:1rem 0;
}
.key li div{
  width:100%;
  display:flex;
  justify-content: space-between;
  align-items:center;
}
.key li div span:nth-child(1){
  min-width:50px;
}
.piano{
  width:90%;
  margin:auto;
}


/*--------------------------------Videos-----------------------*/
video{
  width:90vw;
  margin:1rem auto;
  background-color: #ffd03c;
}

/*--------------------------------Footer-----------------------*/
footer{
  width:90vw;
  margin:0 auto;
  margin-bottom:2rem;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.comment-btn{
  display:none;
}
.comment-image-container{
  width:50px;
  height:50px;
  border:1px solid #000;
  border-radius:100vmax;
    position:fixed;
    top:4.5rem;
    right:3rem;
  }
footer ul{
  width:60%;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
footer ul li{
  list-style:none;
}

.pulse-effect {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.6;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@media screen and (min-width:768px){
  .comment-image-container{
    display:none;
  }
  
.small-nav{
  display:none;
}
.big-nav{
  display:block;
  position:fixed;
  top:30vh;
    right:10vw;
    background-color:transparent;
}
  .icon h1{
  display:block;
}
  .menu-icon{
    display:none;
  }
  .App{
    width:80vw;
    margin:0 auto;
  }
  
  .exit-btn-container{
    display:none;
  }
  nav{
        display:block !important;

    width:30vw;
    height:400px;
    font-size:3rem;
    top:10vh;
    right:10vw;
    background-color:transparent;
  }
  nav ul{
    background-color: transparent;
  }
  .lesson-header{
    flex-wrap:nowrap;
  }
  section{
    width:60%;
    margin:2rem auto;
    position:relative;
    left:-15%;
  }
  .banner{
    height:25vh;
    flex-direction: row;
    justify-content: space-around;
  }

  .comment-btn{
  right:10vw;
  display:block;
  }
  
  footer{
    flex-direction:row;
    position:fixed;
    bottom:-2rem;
    right:5vw;
  }
  footer ul{
    width:20%;
  }
}
